@model MoviesApp.Models.PersonViewModel

<h3>Are you sure you want to delete this?</h3>


@using (Ajax.BeginForm("Delete", null,
                            new AjaxOptions
                            {
                                UpdateTargetId = "results",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "POST"
                            }, new { id = "searchForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
    </div>
}

