@model IEnumerable<Task03_MobileShop.Areas.Laptops.Models.LaptopViewModel>

<h1>Laptops</h1>

@foreach (var laptop in Model)
{
    <div class="col-md-4">
        <h2>@laptop.Manufacturer</h2>
        <h4>@laptop.Model</h4>
        <img src="@laptop.Url" width="100" height="100"/>
        @Html.Partial("_LaptopDetails", laptop.Info)
    </div>    
}

