<div class="jumbotron">
    <h1>Mobile shop</h1>
    <p class="lead">Welcome to you mobile shop. Please select a product for more information.</p>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Smartphones</h2>
        <p>
            You can visit our range ot smartphones here
        </p>
        <p>@Html.ActionLink("View", "Index", "Index", new { area = "Smartphones" }, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-6">
        <h2>Laptops</h2>
        <p>
            You can visit our range ot laptops here
        </p>
        <p>@Html.ActionLink("View", "Index", "Index", new { area = "Laptops" }, new { @class = "btn btn-primary" })</p>
    </div>
</div>