<div class="row">
    <div class="col-xs-12">
        <div class="thumbnail">
            <div class="caption">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.data}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{username}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <ul class="pagination">
                    {{#each this.pages}}
                        <tr>
                            <li><a href="#/users/3/{{this}}">{{this}}</a></li>
                        </tr>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
